@charset "utf-8";

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes flow1 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes flow2 {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
span,
strong,
em {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 16px;
}

body {
    font-family: 'S-CoreDream-3Light';
    font-size: 16px;
    line-height: 1.7em;
}
#wrap{
    min-width: 1400px;
}
#header_wrap{
    height: 800px;
    overflow: hidden;
    position: relative;
}
#header {
    margin: 0 auto;
    width: 1320px;
    height: 138px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #ccc; */
}
#movie h1{
    /* 여기 비디오로 바꾸면됨! */
    position: absolute;
    top: 0px;
    left: 50%;
    width: 1920px;
    margin-left: -960px;
    z-index: -1;
}
.gnb {
    display: flex;
}

.gnb li {
    margin: 0 30px;
}

.gnb li a {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 800;
}
.gnb li a:hover{
    color: #ed6e1b;
}
#content_about {
    margin: 0 auto;
    overflow: hidden;
    height: 900px;
    background-image: url(../images/main/about_Bg.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 5px rgba(86, 86, 86, 0.745);
}

#content_about .title {
    margin-top: 150px;
    font-size: 40px;
}

#content_about .title span {
    font-weight: 900;
}

#content_about .text_box {
    overflow: hidden;
    height: 470px;
    width: 1320px;
    background-color: #b4b4b44b;
    border-radius: 10px 10px;
    box-shadow: 10px 10px 10px rgba(34, 34, 34, 0.545);
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content_about .text_box h3 {
    margin-bottom: 40px;
    font-size: 25px;
}

#content_value {
    overflow: hidden;
    background-color: #ed6e1b;
    margin: 0 auto;
    height: 775px;
    color: #fff;
    font-weight: 900px;
}

.inner_value {
    margin: 0 auto;
    width: 1320px;
    height: 775px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner_value h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

.inner_value ul {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.inner_value ul li {
    width: 250px;
}

.inner_value ul li h4 {
    width: 250px;
    height: 250px;
}

.inner_value ul li img {
    width: 100%;
    height: 100%;
}

.inner_value ul li p {
    margin: 30px 0;
    font-size: 20px;
}

.inner_value ul li span {
    font-size: 60px;
    font-weight: 900;
}

.animated1 {
    font-size: 35px;
    position: relative;
    height: 85px;
    overflow: hidden;
    color: #000000;
    background-color: rgb(255, 255, 255);
    letter-spacing: 10px;
}

.animated2 {
    font-size: 35px;
    position: relative;
    height: 85px;
    overflow: hidden;
    color: #fff;
    background-color: rgb(0, 0, 0);
    letter-spacing: 10px;
}

.track {
    position: absolute;
    top: 28px;
    left: 0;
    white-space: nowrap;
}

.left {
    animation: flow1 50s linear infinite;
}

.right {
    animation: flow2 50s linear infinite;
}

#content_info {
    overflow: hidden;
    height: 2158px;
    text-align: center;
}
#content_info h1 {
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 30px;
}
.inner_info>p{
    margin-bottom: 64px;
}
.inner_info{
    width: 1320px;
    margin: 0 auto;
}
.inner_info ul{
    position: relative;
    height: 433px;
    /* background-color: rgb(213, 187, 153); */
}
.inner_info span{
    font-size: 20px;
    font-weight: 900;
}
.info_text1{
    float: right;
    margin-top: 140px;
}
.info_text2{
    float: left;
    margin-top: 140px;
}
.info_text1 p,
.info_text2 p{
    margin-bottom: 20px;
}

.inner_info .liveimg{
    position: absolute;
    top: 1px;
    left: -280px;
}
.galleryimg{
    position: absolute;
    top: 0px;
    right: -280px;
}
.introductionimg{
    position: absolute;
    top: -1px;
    left: -280px;
}
.lectureimg{
    position: absolute;
    top: -2px;
    right: -280px;  
}
#banner {
    background-image: url(../images/main/goods_banner/goods_banner_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 683px;
    overflow: hidden;
}

.inner_banner {
    margin: 0 auto;
    width: 1320px;
    height: 683px;
    padding-top: 70px;
    overflow: hidden;
}

.inner_banner h3 {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    position: relative;
}

.inner_banner img {
    display: block;
}

.note {
    position: absolute;
    top: 20px;
    left: 65px;
}

.mug {
    position: absolute;
    top: 20px;
    right: 50px;
}

.inner_banner a {
    display: inline-block;
}


#content_perfomance {
    overflow: hidden;
    height: 1000px;
    background: url(../images/main/poster/poster_bg_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#content_perfomance2 {
    overflow: hidden;
    height: 1000px;
    background: url(../images/main/poster/poster_bg_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#slide_wrap {
    padding-top: 100px;
    text-align: center;
}
#slide_wrap h1{
    font-size: 40px;
}
#slide_wrap h1,
#slide_wrap p {
    margin-bottom: 25px;
}

#slide {
    width: 1200px;
    height: 530px;
    margin: 0px auto;
    padding: 100px 30px;
    overflow: hidden;
}

#slide ul li a {
    display: block;
    margin: 5px;
}

.screen {
    position: relative;
    overflow: hidden;
}

.screen img {
    margin: 0 5%;
    width: 90%;
    display: block;
}

.swiper-slide-active+.swiper-slide+.swiper-slide .bottom {
    bottom: 0%;
}

.swiper-slide,
.swiper-slide-active {
    transform: translateY(-80px);
    transition: transform 1s;
}

.swiper-slide-active.swiper-slide+.swiper-slide {
    transform: translateY(-10px);
}

.swiper-slide-active+.swiper-slide+.swiper-slide,
.swiper-slide-active {
    transform: translateY(80px);
}


.swiper-button-prev {
    left: 100px;
}

.swiper-button-next {
    left: 200px;
}

.swiper-button-prev {
    content: url(../images/main/poster/left_arrow.png);
    width: 50px;
    height: 42px;
}

.swiper-button-next {
    content: url(../images/main/poster/right_arrow.png);
    width: 50px;
    height: 42px;
}

#content_rental {
    overflow: hidden;
    height: 450px;
    background-image: url(../images/main/reservation_bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

.inner_rental {
    margin: 0 auto;
    width: 1320px;
    position: relative;
}

.rental_text {
    color: #ffffff;
    position: absolute;
    top: 80px;
    right: 200px;
}

.rental_text h1 {
    color: #ed6e1b;
    margin-bottom: 130px;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.rental_text h4 {
    font-size: 20px;
    margin-bottom: 20px;
}
.inner_rental a{
    display: inline-block;
    position: absolute;
    top: 150px;
    right: 202px;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    font-weight: 900;
}
.inner_rental a:hover{
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    font-weight: 900;
}
#content_event{
    margin: 0 auto;
    width: 1320px;
    height: 726px;
    padding-top: 100px;
    text-align: center;
    overflow: hidden;
}
#content_event h1{
    font-size: 40px;
}
#content_event>p{
    margin: 20px 0;
}
.inner_event{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.inner_event li{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 400px;
}
.inner_event li img{
    width: 90%;
    height: 90%;
}
.inner_event li h4{
    width: 270px;
    height: 270px;
    border-radius: 50% 50%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.inner_event li img{
    width: 200px;
}
.inner_event li h4:hover{
    box-shadow: 10px 10px 40px rgba(146, 146, 146, 0.407) inset;
    transform: translate(5px, -5px);
}
.inner_event li h3{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
}
.top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9;
}
