@charset "utf-8";

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@keyframes motion {
    0% {
        top: 0;
        right: 300px;
    }
    50% {
        top: -30px;
        right: 300px;
    }

    100% {
        top: 0;
        right: 300px;
    }
}
@keyframes motion2 {
    0% {
        bottom: 0px;
        right: 300px;
    }
    50% {
        bottom: -30px;
        right: 300px;
    }

    100% {
        bottom: 0px;
        right: 300px;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
span,
strong,
em {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 16px;
    /*1rem 지정하기*/
}

body {
    font-family: 'S-CoreDream-3Light';
    font-size: 16px;
    line-height: 1.7em;
}
#wrap{
    min-width: 1400px;
}
#banner {
    overflow: hidden;
    height: 662px;
    background-image: url(../images/sub2/banner.png);
    background-repeat: no-repeat;
    background-position: center;
}

.inner_banner {
    height: 662px;
    width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 50px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    text-shadow: 5px 5px 5px #3a3a3a54;
}
#content{
    overflow: hidden;
    height: 2846px;
}
.inner_content{
    width: 1320px;
    margin: 0 auto;
    padding-top: 160px;
}
#content ul{
    margin-bottom: 200px;
    position: relative;
}
.inner_content h1{
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
}
.inner_content>p{
    margin-bottom: 50px;
    text-align: center;
}
.content_box1{
    display: flex;
    flex-direction: row;
    height: 439px;
}
.imgbox{
    width: 910px;
}
.textbox{
    width: 410px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center
}
.title{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 900;
}
.content_box2{
    display: flex;
    flex-direction: row-reverse;
    height: 439px;
}
.bg1{
    position: absolute;
    top: 410px;
    left: -280px;
    z-index: 9;
}
.bg2{
    position: absolute;
    top: 410px;
    right: -280px;
    z-index: 9;
}
.bg3{
    position: absolute;
    top: 410px;
    left: -150px;
    z-index: 9;
}
.bg4{
    position: absolute;
    top: 410px;
    right: -280px;
    z-index: 9;
}
#content_etiquette{
    margin: 0 auto;
    width: 1320px;
    height: 600px;
    padding-top: 100px;
    text-align: center;
    overflow: hidden;
}
#content_etiquette h1{
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 900;
}
.inner_etiquette{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.inner_etiquette li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 300px;
}
#content_information{
    padding-top: 120px;
    padding-bottom: 300px;
    height: 390px;
    overflow: hidden;
}
.inner_info{
    width: 1320px;
    margin: 0 auto;
    height: 390px;
    background-image: url(../images/sub2/ticket_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.inner_info ul{
    height: 390px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}
.box_left{
    text-align: center;
    width: 390px;
    margin-left: 100px;
}
.box_left h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.box_right{
    width: 420px;
    font-size: 25px;
    line-height: 45px;
}
.deco1{
    position: absolute;
    top: -140px;
    left: -80px;
}
.deco2{
    animation: motion linear 3s infinite;
    position: absolute;
    top: 0px;
    right: 300px;
}
.deco3{
    animation: motion2 linear 3s infinite;
    position: absolute;
    bottom: -30px;
    left: 300px;
}
.deco4{
    position: absolute;
    bottom: -70px;
    right: -100px;
}
.top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9;
}
