@charset "utf-8";

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
span,
strong,
em {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 16px;
}

body {
    font-family: 'S-CoreDream-3Light';
    font-size: 16px;
    line-height: 1.7em;
}
#wrap{
    min-width: 1400px;
}
#banner{
    background-image: url(../images/sub5/event_banner.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 662px;
}
#container{
    overflow: hidden;
    margin: 0 auto;
    width: 1320px;
    height: 1900px;
    text-align: center;
    /* background-color: wheat; */
    padding-top: 160px;
}
#container h1{
    font-size: 40px;
    margin-bottom: 25px;
}
#container ul{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#container ul li:nth-child(1),
#container ul li:nth-child(2){
    margin-bottom: 75px;
}
#container ul li{
    box-shadow: 5px 5px 10px #63636396;
    overflow: hidden;
}
#container ul li img{
    display: block;
    transition: transform 0.5s;
}
#container ul li img:hover{
    transform: scale(1.07);
    transition: transform 0.5s;
}
#goodsbanner{
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    background: url(../images/sub5/eventgoodsbanner.png) no-repeat center;
    height: 370px;
}
.top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9;
}
.top img{
    width: 130px;
}
